<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         displayDetailsOnTestsThatTriggerDeprecations="true"
         displayDetailsOnPhpunitDeprecations="true"
         bootstrap="vendor/autoload.php"
         colors="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Framework Test Suite">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="APP_ENV" value="testing"/>
    </php>
    <source
            restrictNotices="false"
            restrictWarnings="false">
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </source>
</phpunit>
